.header {

  &__container {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid lightgray;
  }
  
  &__link {
    padding: 2rem;
  }
  
  &__app-name {
    margin-right: auto;
  }

}