@import '~scss/variables';

.header {

  &__container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  &__link {
    margin: 0 1rem;
    padding: 1.5rem 2rem;

    &--active {
      font-weight: 700;
      color: $orange;
      border-bottom: 4px solid $orange;
    }
  }

  &__app-name {
    margin-right: auto;
  }

}
