<main class="employee-details" *ngIf="employee">
  <section class="employee-details__basics">
    <img class="employee-details__picture" src="assets/avatar.svg" alt="employee profile picture">
    <div class="employee-details__text">
      <h1 class="employee-details__name employee-details__header">{{employee.name}}</h1>
      <h3 class="employee-details__location-and-job">{{employee.jobTitle}} / {{employee.location}}</h3>
    </div>
    <a class="employee-details__edit-btn"
      routerLink="edit"
      >
      <h4>Edit</h4>
    </a>
  </section>
  <section class="employee-details__pto">
    <h2 class="employee-details__header">PTO</h2>
    pto stuff pto stuff pto stuff pto stuff pto stuff<br>
    pto stuff pto stuff pto stuff pto stuff pto stuff<br>
    pto stuff pto stuff pto stuff pto stuff pto stuff<br>
    pto stuff pto stuff pto stuff pto stuff pto stuff<br>
    pto stuff pto stuff pto stuff pto stuff pto stuff<br>
    pto stuff pto stuff pto stuff pto stuff pto stuff<br>
    pto stuff pto stuff pto stuff pto stuff pto stuff<br>
  </section>
  <section class="employee-details__additional-info">
    <h2 class="employee-details__header">More details</h2>
    more details more details more details more details<br>
    more details more details more details more details<br>
    more details more details more details more details<br>
    more details more details more details more details<br>
    more details more details more details more details<br>
    more details more details more details more details<br>
    more details more details more details more details<br>
    more details more details more details more details<br>
    more details more details more details more details<br>
    more details more details more details more details<br>
  </section>
</main>
