<main class="employee-details" *ngIf="employee">
  <section class="employee-details__header">
    <img class="employee-details__picture"
      src="assets/avatar.svg"
      alt="employee profile picture"
      />
    <div class="employee-details__basics">
      <div class="employee-details__text-block"
        [ngStyle]="{'width': cols + 'px'}"
      >
        <h2 class="employee-details__name">
          {{employee.name}}
        </h2>
        <h3 class="employee-details__job-title">
          {{employee.jobTitle}}
        </h3>
        <h1 class="employee-details__location">
          {{employee.location}} NYC
        </h1>
      </div>
      <div class="employee-details__contact">
        <p>phone number here</p>
        <p>email address here</p>
      </div>
    </div>
  </section>

  <section class="employee-details__body">
    <app-panel>
      <section class="employee-details__pto">
        pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br>
      </section>
    </app-panel>
    <app-panel>
      <section class="employee-details__pto">
        pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br>
      </section>
    </app-panel>
    <app-panel>
      <section class="employee-details__pto">
        pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br>
      </section>
    </app-panel>
    <app-panel>
      <section class="employee-details__pto">
        pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br>
      </section>
    </app-panel>
    <app-panel title="PTO">
      <section class="employee-details__pto">
        pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br>
      </section>
    </app-panel>
    <app-panel>
      <section class="employee-details__pto">
        pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br>
      </section>
    </app-panel>
    <app-panel>
      <section class="employee-details__pto">
        pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br> pto stuff pto stuff pto stuff pto stuff pto stuff
        <br>
      </section>
    </app-panel>
  </section>
</main>
