@import '~scss/variables';

.employee-details {

  &__header {
    display: grid;
    grid-template-columns: calc(150px + 2rem) 1fr 1fr;
    grid-template-rows: repeat(3, minmax(50px, 33.33%));
    align-items: center;
    padding: 2rem;
  }

  &__picture {
    grid-column: 1;
    grid-row: 1 / 4;
    margin-right: 2rem;
    width: 150px;
    border-radius: $border-radius-circle;
  }

  &__name {
    grid-column: 2;
    grid-row: 1;
    color: $blue;
    align-self: end;
  }

  &__job-title {
    grid-column: 2;
    grid-row: 2;
  }

  &__location {
    grid-column: 2;
    grid-row: 3;
    color: $gray;
    align-self: start;
  }

  &__phone {
    grid-column: 3;
    grid-row: 1;
    color: $blue;
    align-self: end;
  }

  &__email {
    grid-column: 3;
    grid-row: 2;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    background: $light-gray;
  }

  &__panel {
    &-pto {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    &-personality {
      grid-column: 1;
      grid-row: 2;
    }

    &-skills {
      grid-column: 2;
      grid-row: 2;
    }

    &-conferences {
      grid-column: 1;
      grid-row: 3;
    }

    &-lunch-and-learns {
      grid-column: 2;
      grid-row: 3;
    }
  }

  &__personality {
    display: grid;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 1fr 1fr;

    &-picture {
      grid-column: 1;
      grid-row: 1 / 3;
      width: 100%;
      max-width: 10rem;
      justify-self: center;
      align-self: end;
    }

    &-type {
      grid-column: 2;
      grid-row: 1;
      justify-self: start;
      align-self: end;
      color: $blue;
    }

    &-role {
      grid-column: 2;
      grid-row: 2;
      justify-self: start;
      align-self: start;
      color: $navy;
    }
  }
}
