<h1>Edit employee</h1>
<form class="employee-edit__form form"
  *ngIf="editForm"
  [formGroup]="editForm"
  (ngSubmit)="onSubmit()"
  >
  <div class="form__group">
    <label class="form__label" for="name">Name</label>
    <input class="form__label"
      id="name"
      type="text"
      formControlName="name"
      />
      <span *ngIf="editForm.get('name').invalid && editForm.get('name').touched">please enter a valid username</span>
  </div>
  <div class="form__group">
    <label class="form__label" for="job-title">Job Title</label>
    <input class="form__input-text"
      id="job-title"
      type="text"
      formControlName="jobTitle"
      />
  </div>
  <div class="form__group">
    <label class="form__label" for="location">Location</label>
    <input class="form__input-text"
      id="location"
      type="text"
      formControlName="location"
      />
  </div>
  <div class="form__group">
    <label class="form__label" for="phone">Phone</label>
    <input class="form__input-text"
      id="phone"
      type="phone"
      formControlName="phoneNumber"
      />
  </div>
  <div class="form__group">
    <label class="form__label" for="email">Email</label>
    <input class="form__input-text"
      id="email"
      type="email"
      formControlName="email"
      />
  </div>
  <div class="form__group">
    <label class="form__label" for="linkedin">LinkedIn</label>
    <input class="form__input-text"
      id="linkedin"
      type="text"
      formControlName="linkedIn"
      />
  </div>
  <div class="form__group"
    formArrayName="skills"
    >
    <h4>skills:</h4>
    <div class="form-group"
      *ngFor="let skillControl of editForm.get('skills').controls; let i = index"
      >
      <input type="text" [formControlName]="i" />
    </div>
    <button
      type="button"
      (click)="onAddSkill()"
     >
      Add Skill
    </button>
  </div>
  <hr>
  <button
    type="submit"
    [disabled]="editForm.invalid"
    >
    Save
  </button>
  <button
    type="button"
    >
    Cancel
  </button>
</form>
