@import '~scss/variables';

.panel {
  padding: 1rem;
  border-radius: $border-radius;
  background: $white;
  min-height: 250px;
  box-shadow: $box-shadow;

  &__title {
    color: $gray;
    margin-bottom: 2rem;
  }

  &__container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}
